.footer__mobile{
    height: 200px;
    background-color: #9B846E;
}

.footer__mobile__wrapper{
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    color: white;
}

.margintop{
    margin-top: 25px;
}

.marginbottom{
    margin-bottom: 25px;
}

.fs18{
    font-size: 20px;
}