.categoryPanel{
    height: 35px;
    border-radius: 5px;

    border: 1px solid #9B846E;
    padding: 0 10px;

    display: flex;
    align-items: center;
    color: #9B846E;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

.categoryPanel:hover{
    background-color: #f6f3f3;
}