.fullscreen_new{
    width: 100%;
    background-color: white;
}

.header_new{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 120px;
}

.new_container{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin-left: 120px;
    gap: 20px;
    flex-wrap: wrap;
}