.fff__wrapper {
  display: flex;
  justify-content: center;
}

.fff {
  display: flex;
  gap: 10px;
  margin: 15px 0 25px 0;
  flex-wrap: wrap;
}
@media (min-width: 1100px) {
  .fff {
    width: 1100px;
  }
}

.mobile__wrapper {
  margin: 15px;
}
