/* .menu{
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    top: 100%;
    left: 0;
    z-index: 1;
} */

.menu {
  width: 100%;
  height: auto;
  min-height: 650px;
  top: 50px;

  background-color: white;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 40px;
}

.catalog__row {
  width: auto;
  height: auto;
  padding-left: 80px;

  flex-direction: column;
}

.catalog__sidepromo {
  cursor: pointer;
}

.catalog__sidepromo__h1 {
  font-size: 22px;
}

.catalog__sidepromo__p {
  font-size: 14px;
  font-weight: 400;
}

.catalog__sidepromo__pic {
  height: 160px;
  width: 300px;
}

.catalog__h1 {
  font-size: 22px;
  font-weight: 500;
  text-decoration: underline;
}

.catalog__row__noh1 {
  width: auto;
  height: auto;
  padding-left: 80px;
  flex-direction: column;
  padding-top: 30px;
}
