.searchM {
    width: 100%;
    height: 100%;
    top: 50px;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  /* .search__resultsM{
        
      
  } */

  .search__wrapperM{
    width: auto;
    display: grid;
    grid-template-rows: 50px auto;
    margin: 20px;
    gap: 20px;
    height: min-content;
  }

.searchinputM{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-bottom: #B4A392 solid 2px;
    margin-bottom: 10px;
}

.searchinputM::placeholder{
    font-weight: 500;
    opacity: 50%;
    font-size: 26px;
}

