.block {
    width: 280px;
    height: 330px;
    background-color: white;
    position: absolute;
    top: 135px;
}

.item {
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
}
