.cart__empty {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

.fullcart {
  display: flex;
  justify-content: center;
}

.fullcart__wrapper {
  width: 1300px;
  display: grid;
  grid-template-columns: 720px 580px;
}

.fullcart__wrapper__list {
  width: 720px;
  height: auto;
  padding-bottom: 30px;

  padding-top: 30px;
}

.fullcart__wrapper__info {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.fullcart__header {
  font-size: 26px;
  padding-bottom: 30px;
}

.toorder__wrapper {
  width: 400px;
  height: 250px;
  border: #e6e6e6 solid 1px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toorder {
  display: grid;
  width: 280px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 180px;
}

.order__button {
  border-radius: 7px;
  background-color: #c1a88a;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toorder__element {
  display: flex;
  justify-content: space-between;
}

.fullcart__wrapper1 {
  display: grid;
  grid-template-rows: auto auto;
}

.inputs {
  grid-template-columns: auto auto;
  gap: 40px;
  width: 720px;
  height: 50px;
  display: grid;

  margin-bottom: 20px;
}

.inputs__mobile {
  grid-template-columns: auto auto auto;
  display: grid;
  gap: 40px;
  margin: 0 20px 0 20px;
}

.input__info {
  border-radius: 7px;
  outline: none;
  height: 40px;
  border: 1px #e3e2e2 solid;

  font-size: 14px;
  padding-left: 13px;
}

.delivery__buttons button {
  width: 230px;
  height: 70px;
  border-radius: 7px;
  border: #c1a88a solid 2px;
  background-color: white;
  font-size: 16px;
}

.delivery__buttons {
  width: 720px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.delivery__buttons button.active {
  background-color: #c1a88a;
  color: white;
}

.delivery__info {
  color: gray;
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 50px;
}

.delivery__info__item {
  font-size: 16px;
}

.delivery__input {
  border-radius: 7px;
  outline: none;
  height: 40px;
  border: 1px #e3e2e2 solid;
  width: 700px;
  font-size: 14px;
  padding-left: 13px;
  margin-top: 20px;
}

label {
  font-size: 16px;
}

.checkbox__area {
  display: grid;
  grid-template-columns: 30px 690px;
}

.checkbox__area__text {
  font-size: 16px;
}

.delivery__header {
  margin-top: 30px;
}

@media (width < 1300px) {
  .fullcart__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .toorder__wrapper {
    width: 100%;
    height: 300px;
    border: #e6e6e6 solid 1px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 20px 20px;
  }

  .toorder__wrapper {
    height: 250px;
  }

  .fullcart__header {
    font-size: 24px;
    padding: 30px 0 30px 0;
  }
  .fullcart__wrapper1 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .fullcart__wrapper__list {
    width: 100%;
    max-width: 100%;
    padding: 0 20px 20px 20px;
  }
  .cartifull__personinfo {
    width: 100%;
    padding: 0 20px;
  }
  .inputs {
    display: flex;
    /* padding: 0 20px; */
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 20px;
  }
  /* .delivery__header {
    text-align: center;
  } */
  .delivery__buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0px;
    /* padding: 20px 20px 0 20px; */
  }
  .fullcart__wrapper__info {
    padding-top: 30px;
  }
  .delivery__buttons button {
    width: auto;
    height: 60px;
    border-radius: 7px;
    border: #c1a88a solid 2px;
    background-color: white;
    font-size: 16px;
  }
  .delivery__info {
    margin-top: 20px;
    padding-bottom: 0px;
  }
  .delivery__input {
    width: 100%;
  }
}
