.productpage {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  background-color: white;
}

.productpage__wrapper {
  width: 1300px;
  padding-bottom: 70px;
  height: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
}

.productpage__rightinfo {
  display: grid;
  height: min-content;
  grid-template-rows: 80px auto 100px;
}

.productpage__name {
  font-size: 24px;
}

.productpage__description {
  font-size: 16px;
  padding-bottom: 30px;
}

.productpage img {
  width: 470px;
  height: 450px;
  margin-left: 50px;
}

.productpage__bottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.productpage__bottom__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.productpage__price {
  font-size: 26px;
}

.productpage button {
  width: 180px;
  height: 45px;
  background-color: #c1a88a;

  color: white;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
