.navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigationTitle {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.navigationList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1100px) {
    .navigation {
        padding: 0 10px;
    }

    .navigationList {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}