.categorypage__grid {
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 286px);
  justify-content: space-between;
  grid-row-gap: 45px;
  grid-column-gap: 52px;
  padding-bottom: 60px;
}

.search__results__header {
  font-size: 22px;
  font-weight: 500;
  margin: 40px 0 40px 0;
  width: 1100px;
}
