.productspromo__header .wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 28px;
  font-weight: 500;
}

.productspromo__header__mobile .wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  /* padding: 0 15px 0 15px; */
  font-size: 28px;
  font-weight: 500;
  font-size: 20px;
}

.productspromo__footer .wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 22px;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
}

.productspromo__footer .wrapper:hover {
  background-color: #efefef;
}

.productspromo__footer p {
  padding-right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.productspromo__header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.productspromo__header__mobile {
  display: flex;
  justify-content: center;
  height: 50px;
}

.productspromo__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.productspromo__grid {
  width: 1300px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  grid-row-gap: 45px;
  grid-column-gap: 52px;
}

.productspromo__main {
  display: flex;
  justify-content: center;
}

.productspromo {
  padding-top: 20px;
}

@media (max-width: 1300px) {
  .productspromo__grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    /* padding: 0 15px; */
  }
}
