.footer {
  height: 460px;
  width: 100%;
  background-color: #c1a88a;
  display: flex;
  justify-content: center;
  color: white;
}

.footer__wrapper {
  background-color: #c1a88a;
  height: 460px;
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer__wrapper__1stc {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}

.phone {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 10px;
}

.schedule {
  font-size: 16px;
}

.socials {
  padding-bottom: 10px;
}

.socials__div {
  display: flex;
  flex-direction: row;
}
