.contentWrapper {
    width: 1100px;
}

.contentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1100px) {
    .contentWrapper {
        width: 100%;
        padding: 0 10px;
    }
}
