.contentWrapper {
  width: 1100px;
  padding: 40px 0;
}

.contentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1100px) {
  .contentWrapper {
    width: 100vw;
    padding: 20px;
  }
}
