.slider {
  width: 100%;
  margin-top: -50px;
  aspect-ratio: 24/10;
  position: relative;
}

.sliderPic {
  width: 100%;
  aspect-ratio: 24/10;
}

.rightarrow {
  position: absolute;
  bottom: 50%;
  right: 10px;
  transform: translate(0, 50%);
  cursor: pointer;
}

.leftarrow {
  position: absolute;
  bottom: 50%;
  left: 10px;
  transform: translate(0, 50%);
  cursor: pointer;
}

.slider__circles {
  height: 7px;
  width: 34px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-17px);
}
