.subcategory {
  border: 2px solid #9b846e55;
  height: 35px;
  width: auto;
  padding: 0 15px;
  border-radius: 11px;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.subcategory:hover {
  background-color: #f6f3f3;
}
