.burger {
  color: #9b846e;
  background-color: white;
  height: 100vh;
  width: 80vw;
  display: flex;
  gap: 50px;
  flex-direction: column;
  font-size: 21px;
  overflow: hidden;
  padding: 20px;
}

.burger__items {
  display: flex;
  gap: 5px;
  flex-direction: column;
}



.burger__forclick {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 50px);
}

.smblock {
  margin-left: 40px;
  margin-top: 15px;
  width: 110px;
  display: flex;
  justify-content: space-between;
}
