.card {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 70px auto;
  font-weight: 400;
}

@media (width < 1300px) {
  .card__quantity {
    display: grid;
    width: 15px;

    height: 40px;
  }
}

.card__pic {
  width: 100%;
  aspect-ratio: 1/1;
}

.card__name {
  font-size: 18px;
  padding-top: 10px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__name__mobile {
  font-size: 16px;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
}

.card__bottom__mobile {
  display: flex;
}

.card__bottom > button {
  background-color: #c1a88a;
  width: 135px;
  height: 43px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.card__bottom p {
  /* padding: 10px; */
  /* font-size: 18px; */
  font-weight: 400;
  margin-top: 10px;
}

.card__quantity {
  display: grid;
  width: 130px;
  grid-template-columns: 40px 50px 40px;
  height: 40px;
  color: rgb(40, 40, 40);
}

.card__quantity__mobile {
  display: grid;
  width: 99px;
  grid-template-columns: 33px 33px 33px;
  height: 40px;
  color: rgb(20, 20, 20);
}

.card__quantity__button {
  width: 40px;
  height: 43px;
  background-color: red;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.card__quantity__number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
}

.card__button__notinstock {
  background-color: rgb(162, 162, 162);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 43px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 500;
}

.card__quantity__button__disabled {
  width: 40px;
  height: 43px;
  background-color: #b2b2b2;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.saleprice__bottom {
  display: flex;
  justify-content: flex-end;
}

.saleprice__bottom__mobile {
  display: flex;
  flex-direction: column-reverse;
}

.newprice__mobile {
  color: #c2a88c;
  font-size: 18px;
}

.oldprice__mobile {
  font-size: 12px;
  color: #898989;
  text-decoration: line-through;
}

.newprice {
  color: #c2a88c;
  font-size: 22px;
  padding: 10px 0 10px 0;
}

.oldprice {
  font-size: 16px;
  color: #898989;
  text-decoration: line-through;
  padding: 15px 0 0 10px;
}

.card__price {
  font-size: 22px;
}

.card__price__mobile {
  font-size: 18px;
}
