
.productspromo__footer .wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 22px;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
}

.productspromo__footer .wrapper:hover {
  background-color: #efefef;
}

.productspromo__footer p {
  padding-right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.productsListTitle {
  display: flex;
  justify-content: center;
  height: 40px;
}

.productspromo__header__mobile {
  display: flex;
  justify-content: center;
  height: 50px;
}

.productspromo__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.productsListItems {
  width: 1100px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  grid-row-gap: 45px;
  grid-column-gap: 52px;
}

.productsListMain {
  display: flex;
  justify-content: center;
}

.productsListContainer {
  padding-bottom: 60px;
}

.productsListSubcategories {
  display: flex;
  justify-content: center;
}

@media (max-width: 1100px) {
  .productsListContainer {
    padding: 0 5px;
  }

  .productsListItems {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    /* padding: 0 15px; */
  }
}
