.underHeader {
  width: 100%;
  height: 100px;
  background-color: #c1a88a;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 90vw;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  width: 125px;
}

.left_panel {
  display: flex;
  align-items:end;
  justify-content: flex-end;
  
}

.cart {
  width: 25px;
}

.left_panel_wrapper {
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
}

.left_panel_cart {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.left_panel_search {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.search_on_click {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #0001;
}

.search {
  position: absolute;
  width: 250px;
  height: 27px;
  background-color: #c1a88a;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding-left: 5px;
}

@media (max-width: 1100px) {
  .search {
    width: 90vw;
    top: 80px;
  }
  .search__wrapper {
    width: 100%;
  }
}

.search::placeholder {
  color: white;
  font-weight: 400;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
}

.searchpic{
  cursor: pointer;
}

.alignitemscenter{
  display: flex;
  align-items: center;
}