/* Блок секции */
.navigationSection {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

/* Картинка внутри */
.navigationSection img {
    transition: 0.4s;
    height: 100%;
}

/* Картинка внутри при наведении */
.navigationSection:hover img {
    transform: scale(110%);
}

/* Кликабельная часть */
.navigationSectionOverlap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    cursor: pointer;
}

/* Тайтл секции */
.navigationSectionOverlap p {
    font-size: 20px;
    color: white;
    font-weight: 500;
    user-select: none;
    text-align: right;
}

/* Стрелочка после тайтла */
.navigationSectionOverlap p:after {
    content: "→";
    position: relative;
    padding-left: 2px;
    top: 2px;
}

@media (max-width: 1100px) {
    .navigationSectionOverlap {
        padding: 5px;
    }
    .navigationSectionOverlap p {
        font-size: 10px;
    }
}

