.productspromo__grid__mobile {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-row-gap: 20px;
    grid-column-gap: 40px;
  }


.category__name{
  margin: 15px 0 15px 0;
  font-weight: 500;
  font-size: 20px;
}