.cart__empty {
    height: calc(100vh - 250px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 20px;
    font-weight: 500;
  }
  
  .fullcart {
    display: flex;
    justify-content: center;
  }
  
 
  
  .fullcart__wrapper__list {
    width: auto;
    height: auto;
    padding-bottom: 30px;
  
    padding-top: 30px;
  }
  
  .fullcart__wrapper__info {
    display: flex;
    justify-content: center;
   margin-top: 20px;
  }
  
  .fullcart__header {
    font-size: 26px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .toorder__wrapper {
    width: auto;
    height: 300px;
    border: #e6e6e6 solid 1px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toorder {
    display: grid;
    width: 300px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 220px;
  }
  
  .order__button {
    border-radius: 7px;
    background-color: #9b846e;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toorder__element {
    display: flex;
    justify-content: space-between;
  }
  
  .fullcart__wrapper1 {
    display: grid;
    grid-template-rows: auto auto;
  }
  
  .inputs {
    width: auto;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 20px 20px 20px;
  }
  
  .inputs input {
    border-radius: 7px;
    outline: none;
    height: 40px;
    border: 1px #e3e2e2 solid;
    width: auto;
    font-size: 14px;
    padding-left: 13px;
  }
  
  .delivery__buttons button {
    width: 100px;
    height: 50px;
    border-radius: 7px;
    border: #998169 solid 2px;
    background-color: white;
    font-size: 16px;
  }
  
  .delivery__buttons {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 0 20px 0 20px;
  }
  
  .delivery__buttons button.active {
    background-color: #998169;
    color: white;
  }
  
  .delivery__info {
    color: gray;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .delivery__info__item {
    font-size: 16px;
  }
  
  .delivery__input {
    border-radius: 7px;
    outline: none;
    height: 40px;
    border: 1px #e3e2e2 solid;
    width: 700px;
    font-size: 14px;
    padding-left: 13px;
    margin-top: 20px;
  }
  
  label {
    font-size: 16px;
  }
  
  .checkbox__area {
    display: grid;
    grid-template-columns: 30px 690px;
  }
  
  .checkbox__area__text {
    font-size: 16px;
  }
  